.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.container-error{
  height: 65vh;
}
@media (min-width: 768px) {
  /* Your CSS styles go here */
  .wrapper{
    padding: 0;
  }
  /* Add more styles as needed */
}

ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove any default padding */
}


