.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.container-error{
  height: 65vh;
}
.absoulte-div{
  position: fixed;
   bottom: 30%;
  right: 10px;
  background-color: #ffff;
  width: 18%;
  
}
@media (max-width: 768px) {
  /* Your CSS styles go here */
  .wrapper{
    padding: 0;
  }

  .absoulte-div{
    
    bottom: 0;
    right: 0;
    background-color: #ffff;
    width: 100%;
    z-index: 5;
  }
  
  /* Add more styles as needed */
}


ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove any default padding */
}


