/* theme */

/* styles.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark/light mode */
  font-size: 1rem;
}

.light {
  background-color: #ffffff;
  color: #333333;
}

.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}


.button:hover {
  background-color: #2980b9;
}

body.dark .card {
  background-color: #ffffff ; /* Dark gray */
  border: 1px solid #333333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Add more styles as needed */



/* theme end */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.container-error{
  height: 60vh;
}

.custom-border{
  border: solid;
   border-color: #dddddd;
}



@media (max-width: 768px) {
  /* Your CSS styles go here */
  .wrapper{
    padding: 0;
  
  }

  .custom-border{
    border: none;
  }
  
  /* Add more styles as needed */
}



ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove any default padding */
}


